In [1]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_excel("data/patient1/fn_eeg.xlsx")

In [4]:
df.head()

,Millis,HardwareSeconds,ch_1,ch_2,ch_3,ch_4,ch_5,ch_6,ch_7,ch_8,...,ch_15,ch_16,ch_17,ch_18,ch_19,ch_20,ch_21,ch_22,ch_23,ch_24
0,51,0,186.9,130.2292,238.6686,-13.18469,326.7506,295.4188,233.2859,337.9861,...,351.5019,219.51960,-9.9,-5.7,481.6910,507.4703,-9.0,375.1644,103.1462,589.8848
1,51,0,188.4,130.8266,235.6815,-12.88504,326.7506,301.1173,234.7813,337.9861,...,353.8889,217.42030,-9.9,-5.1,499.3981,509.8711,-8.7,369.4710,110.6206,586.8936
2,52,0,181.2,129.0344,241.3569,-13.48434,327.0501,314.6136,239.5667,349.3521,...,360.1551,104.36180,-9.9,-5.1,447.4774,530.8782,-8.7,387.1505,116.3011,598.8588
3,52,0,168.0,128.7357,246.4350,-12.88504,328.5476,322.4114,239.2676,354.4368,...,368.5100,40.78506,-10.2,-5.4,409.0622,528.7774,-9.0,394.3422,120.1878,608.4309
4,52,0,167.4,129.0344,239.2660,-13.18469,324.9537,311.9143,238.9685,343.6691,...,366.4213,83.36946,-10.2,-5.4,418.3659,522.4753,-9.0,387.7498,113.9093,596.4657

In [9]:
eeg_raw = df.iloc[:,2:].values

In [10]:
eeg_raw.shape

(42851, 24)